<!-- Basically a copy of _default/single.html
     Needs to by a list to get excluded from .RegularPages at menu rendering time -->
{{ partial "header.html" . }}
<body class="is-preload">
    <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="{{ "/" | relLangURL }}">
                            <span class="icon {{ .Site.Params.iconclass }}">
                                <img src="{{ .Site.Params.logo }}">
                            </span>
                        </a>
                    </div>
                    <div class="content">
                        <div class="inner">
                            <h1><a href="{{ "/" | relURL }}">{{ .Title }}</a></h1>
                            <p>
                            {{ .Content }}
                            </p>
                        </div>
                    </div>
                </header>
                {{ partial "footer.html" .}}
        </div>
    <!-- BG -->
    <div id="bg"></div>
</body>
{{ partial "scripts.html" . }}
</html>
