<!DOCTYPE html>
<html{{ with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}"{{ end }}>
<head>
    <title>{{ .Params.Title | default "Title" }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "sass/main.scss" . | resources.ToCSS (dict "targetPath" "main.css" "outputStyle" "compressed") | resources.Fingerprint).Permalink }}"/>
    <link rel="canonical" href="{{ .Permalink }}">
    <style>
        :root{--site-background : url("{{ .Params.background | default "images/bg.jpg" | absURL }}")};
    </style> 
    <noscript>
        <link rel="stylesheet" href="{{ (resources.Get "sass/noscript.scss" | resources.ExecuteAsTemplate "sass/noscript.scss" . | resources.ToCSS (dict "targetPath" "noscript.css" "outputStyle" "compressed") | resources.Fingerprint).Permalink }}"/>
    </noscript>
</head>
